*{
	font-family:Cambria;
}

.cart-badge{
	position:relative;
	top:-10px;
	left:-5px;
}

.myslideimage{
	max-height:2000px;
	max-width:1000px;
	width:300px;
	height:400px;
}

.myiconimage{
	height:150px;
	width:150px;
}

.productimage{
	width:150px;
	height:150px;
}

.myorder{
	margin-top:20px;
}



.mymenu{
	color:green;
	margin-right:20px;
}

.sidebar{
	position:absolute;
	width:250px;
	z-index:10000;
	transition:0.5s;
}


.hidesidebar{
	
	margin-left:-300px;
}

.oproductimg{
	width :100px;
	height:100px;
	
}

